<!-- Vehicle catalogue -->
<div class="table-wrapper">
  <h3>{{ 'title.vehicles' | translate }}</h3>

  <!--Add/Edit Form-->
  <app-vehicle-create-and-edit (editCanceled)="onCancelEdit()"
                               (vehicleAdded)="onVehicleAdded($event)"
                               (vehicleUpdated)="onVehicleUpdated($event)"
                               [editMode] = "isEditMode"
                               [vehicle]="vehicleData"/>
  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         matSort matSortActive="name" matSortDirection="asc">

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ 'vehicle.id' | translate }} </th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'vehicle.model' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.model }}</td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'vehicle.brand' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.brand }}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'vehicle.year' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.year }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'vehicle.description' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'vehicle.image' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.image }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'vehicle.price' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.price }}</td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> {{ 'vehicle.actions' | translate }}</th>
      <td *matCellDef="let element" mat-cell>
        <a (click)="onEditItem(element)" href="javascript:void(0)"><mat-icon>edit</mat-icon></a>
        <a (click)="onDeleteItem(element)" href="javascript:void(0)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns" [ngClass]="{'editable-row': vehicleData.id === row.id }" mat-row></tr>
  </table>
  <!-- Paginator child component-->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
