.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Espacio entre las tarjetas */
}

.vehicle-card {
  flex: 1 1 calc(33.33% - 40px); /* Ocupa un tercio del ancho menos el espacio */
  max-width: calc(33.33% - 40px);
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}
